.navbar{
	border-radius: 0;
}

footer{
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #1f87c2;
	color: #fff;
}

.actions {
	float: right;
	margin-top: 20px;
	padding-top: 30px;
}