body {
  padding-bottom: 0;
  font-family: 'Open Sans', Arial, Tahoma;
  color: #363636;
  background: #ededed;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  font-size: 1.5em;
}

.primary, strong, h2 {
  color: #3b5a76;
}

.container-main {
  background: #fff;
  margin-top: 80px;
  padding: 0 30px 30px 30px;
}

header {
  min-height: 100px;
  overflow: auto;
}

header h1 {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.4em;
}

.row {
  margin-bottom: 20px;
}

.profile-image {
  width: 160px;
  display: block;
  margin: auto;
  margin-top: -60px;
}

.line {
  max-width: 100%;
  padding: 30px 10px 30px 10x;
}

.contact-list {
  padding: 0;
  margin: 0;
}

.contact-list li {
  list-style: none;
  font-weight: bold;
  line-height: 3.2em;
}

.contact-list span {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0.1em;
  margin-left: 37px;
  font-size: 15px;
  color: #ccc;
}

.work-list li {
  list-style: none;
  float: left;
  padding: 0 10px 0 30px;
  margin-bottom: 10px;
}

.media {
  background: #ededed;
  padding: 10px;
}

footer {
  background: #3b5a76;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
